@use "@/styles/mixins.scss" as *;

.desk-sidebar {
  @include verticalFlex();
  height: 100vh;
  width: 80px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 55;
  border-right: 1px solid var(--borderLight);
  transition: all 0.3s ease-in-out;

  .ds-toggle {
    position: absolute;
    top: 20px;
    right: -15px;
    border: 1px solid var(--borderLight);
    border-radius: 10px;
    @include box(28px);
    background-color: #fff;
    z-index: 56;
    @include setToCenter();
    cursor: pointer;

    .dst-icon {
      color: var(--iconColor);
    }

    &.toggle {
      .dst-icon {
        transform: rotate(180deg);
      }
    }
  }

  .ds-header {
    @include flexAlign();
    // height: 60px;
    padding: 15px 20px;
    .ds-logo {
      @include box(35px);
      vertical-align: middle;
    }

    .ds-content {
      flex: 1;
      position: relative;
      overflow: hidden;
      height: 100%;

      .ds-content-logo {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        height: 35px;
        flex-shrink: 0;
        max-width: unset;
        width: 150px;
      }
    }
  }

  .ds-body {
    flex: 1;
    overflow-y: auto;
    padding: 10px 15px;

    .ds-navs {
      .ds-nav-group {
        padding: 0 7px;
        border-bottom: 1px solid var(--borderLight);
        padding-bottom: 15px;
        margin-bottom: 20px;
        // background-color: red;

        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
          margin-bottom: 0;
        }

        .dsng-title {
          font-size: 12px;
          font-weight: 600;
          height: 0;
          overflow: hidden;
          transition: all 0.5s ease-in-out;
          margin-bottom: 0px;
          color: var(--sidebarLabelColor);
        }

        .dsng-items {
          @include verticalFlex();
          gap: 10px;

          .dsng-item {
            @include flexAlign();
            border-radius: 5px;
            // background-color: #f5f5f5;
            cursor: pointer;

            .dsng-item-icon {
              @include box(35px);
              border-radius: 5px;
              @include setToCenter();

              .dsng-item-iconn {
                @include box(20px);
                color: var(--iconColor);
                border-radius: 5px;
              }
            }

            .dsng-item-title {
              position: relative;
              flex: 1;
              overflow: hidden;
              height: 18px;

              .dsng-item-title-inner {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 5px;
                // width: 100%;
                text-align: left;
                font-size: 14px;
                font-weight: 600;
                color: var(--iconColor);
              }
            }

            &.active {
              background-color: var(--primaryColor);

              .dsng-item-icon {
                .dsng-item-iconn {
                  color: #fff;
                }
              }

              .dsng-item-title {
                .dsng-item-title-inner {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }

  .ds-footer {
    padding: 10px 10px;

    .ds-footer-item {
      @include flexAlign();
      padding: 10px 12px;
      border-radius: 5px;
      background-color: var(--primaryColor);

      .ds-footer-item-image-container {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: -3px;
          right: -3px;
          @include box(13px);
          background-color: var(--successColor);
          border: 2px solid #fff;
          border-radius: 5px;
        }
        .ds-footer-item-image {
          @include box(35px);
          border-radius: 5px;
        }
      }

      .ds-footer-item-info {
        flex: 1;
        position: relative;
        height: 35px;
        overflow: hidden;

        .ds-footer-item-info-inner {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 8px;
          width: 160px;
          @include flexAlign();
          gap: 5px;
          // width: 100%;

          .dsfiii-row {
            flex: 1;
            .ds-footer-item-info-name {
              font-size: 13px;
              font-weight: 600;
              color: #fff;
              @include addLineClamp(1);
            }

            .ds-footer-item-info-email {
              font-size: 10px;
              font-weight: 400;
              color: #fff;
              @include addLineClamp(1);
            }
          }

          .dsfiii-icon {
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }

  &.toggle {
    width: 250px;

    .ds-body {
      .ds-navs {
        .ds-nav-group {
          .dsng-title {
            height: 25px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
