:root {
  --borderLight: #e6e4f0;
  --iconColor: #686770;
  --textLight: #686770;
  --mainNav: #4c4b52;
  --primaryColor: #f5518d;
  --successColor: #00b884;
  --sidebarLabelColor: #9d9ca3;
  --appBg: #f9f8ff;
}
